<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul class="nav">
        <li><a href="/home">Blog</a></li>
        <li><a href="/addPost">Add a Post</a></li>
        
    </ul>
<h1>Highlighted Post</h1>
    <ul class="randomPost">
        <li class="title"><%= blogTitle[num].title %> </li>
        <li class="username">By: <%= blogTitle[num].username %> </li>
        <li><%= blogTitle[num].desc %> </li>
        
    </ul>


    <script src="js/main.js"></script>
</body>
</html>